.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store

# LaTeX intermediate files
*.aux
*.bbl
*.blg
*.brf
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.out
*.toc
*.acn
*.acr
*.alg
*.dvi
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.ist
*.loa
*.loc
*.mlf
*.mtc
*.mtc0
*.nav
*.nlo
*.nls
*.snm
*.synctex.gz
*.tdo
*.thm
*.vrb
*.xdy

# LaTeX PDF files
*.pdf

# LaTeX backup files
*~
*.bak
*.backup
*.sav
*.swp
*.tmp